<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <a class="navbar-brand" routerLink="/" >
        <img src="assets/logo.jpg" width="200" height="120" class="d-inline-block align-top" alt="logo"><h3 style="color: black ;">ABC Child Care Software</h3>
    </a>
</nav><br><br><br><br>
<div style="background-image: url('assets/home.jpg'); height:600px ;width : 1284px" >
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav justify-content-end">
      <li class="nav-item active pull-right">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/loginform">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/creches">Creches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading" style = "text-align:center">Perfect for today’s child care professional.</h4>
  <p>We now spend less than an hour to do what used to take more than a whole day!ABC Care eliminates administrative hassles and simplifies recordkeeping, giving you more time to focus on what’s most important.</p>
  <hr>
  <p class="mb-0">Childcare Software that's integrated for all aspects of your business.</p>
</div>

<div class="card  bg-white">
  <div class="card-body">
    <h1 class="card-title text-center text-primary "><strong>Features include : </strong></h1>
    <ul class="card-text text-dark">
      <li><h3>An online system for 24 X 7 access to your data.</h3></li>
      <li><h3>The ABC portal that keeps parents connected to your center throughout the day.</h3></li>
      <li><h3>Registration and enrollment.</h3></li>
      <li><h3>Flexible scheduling and attendance management capability for children and staff.</h3></li>
      </ul>
  </div>
</div>

<div class="card bg-dark text-white">
    <img class="card-img" src="assets/card.jpg" alt="Card image" style = "height:400px ;width : 1284px" >
    <div class="card-img-overlay">
      <h2 class="card-title text-success"><strong>Ready to get started?</strong></h2>
      <h2 class="card-title">SignUp Today!</h2>
      <h4 class="card-text text-info">Sign up now and take advantage of everything ABC Software has to offer <br> with no strings attached.This includes everything you need to get started and <br> keep working without missing a beat.</h4>
    </div>
</div>

