<div style="background-image: url('assets/blur.png');background-repeat: no-repeat; height:100px; width : 1285px" >
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/" >
          <img src="assets/logo.jpg" width="70" height="55" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/loginform">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/creches">Creches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
  </nav>

  <div class="card bg-dark text-center">
    <img class="card-img" src="assets/blur.png" style="height: 560px; width:1285px" alt="Card image">
    <div class="card-img-overlay">
      <br><br>
      <h1 class="card-title text-info"><strong>Our Company</strong></h1><br>
      <h4 class="card-text text-white" style="font-size: 20px">We recognize that the childcare industry needs software that’s friendly and easy to use, while at the same time <br><br> powerful enough to help childcare owners and operators with managing the many responsibilities and tasks that arise <br><br> each day.That’s why we’ve developed ABC – child care software that truly makes a difference  for childcare owners <br><br> and operators.We hope you’ll join the growing number of childcare centers and preschools that have found ABC,<br><br> and enjoy using our childcare software to make life easier at their center.</h4>
    </div>
  </div>

</div>
