<h2 style="text-align:center;">Children</h2>

<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Attendance</th>
      <th scope="col">Button</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of arr">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td><input type="checkbox" name="attendance" ></td>
      <td><button style="text-align : center" class="btn btn-primary" (click)="sendattendance(attendance.value)">Send Mail</button></td>
    </tr> 
  </tbody>
</table>
</div>

<div>
  <button style="text-align: center" class="btn btn-primary" (click)="goBack()">Back</button>
</div>